@media screen and (min-width: 768px) {
  .marginFrameBottom {
    background-color: white;
    height: 1000px !important;
  }

  .white-background {
    background-color: white;
    height: 1300px !important;
  }
}
